.json-key {
    color: brown;
}
.json-value {
    color: navy;
}
.json-string {
    color: olive;
}

.card-header .fa {
    transition: .3s transform ease-in-out;
}
.card-header .collapsed .fa {
    transform: rotate(90deg);
}

.input-group-sm > .plugin-remove_button > .ts-control {
    padding-top: 2px !important;
}
.nav-item .ts-control {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

#customFiltersWrapper .input-group-sm > .ts-wrapper > .ts-control {
    padding-top: 2px !important;
}

#dialogViewResponseURL {
    color: navy !important;
}

input.flatpickr-input {
    border-color: rgb(208, 208, 208) !important;
    border-style: solid !important;
    border-width: 0.8px !important;
}

.tabulator-table .tabulator-row {
    min-height: 31px !important;
}
.tabulator-table .tabulator-row .tabulator-cell, .tabulator-calcs .tabulator-cell {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}
.tabulator-table .tabulator-cell, .tabulator-calcs .tabulator-cell,  {
    font-family: monospace !important;
}
.tabulator .tabulator-alert .tabulator-alert-msg {
    border: 1px solid #fff !important;
    background: #333 !important;
    color: #fff !important;
}

.tabulator .tabulator-placeholder-contents {
    font-size: 14px !important;
}
