.json-key {
    color: brown;
}
.json-value {
    color: navy;
}
.json-string {
    color: olive;
}

.card-header .fa {
    transition: .3s transform ease-in-out;
}
.card-header .collapsed .fa {
    transform: rotate(90deg);
}

.input-group-sm > .plugin-remove_button > .ts-control {
    padding-top: 2px !important;
}
.nav-item .ts-control {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}
